<!doctype html>
<html lang="en">
{% load static %}
    <head>
        

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        
  <link rel="icon" type="image/x-icon" href="{% static 'photo/ceclogo.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">
  
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
   

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/087ba84a5c.js" crossorigin="anonymous"></script>

<!-- Template Main CSS Files -->
<link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock title %}</title>
        
        {%block css%} {%endblock css%}
    </head>
    

    <body>
     
          <header id="header" class="header d-flex align-items-center " >
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        
              <a href="{% url 'home' %}" class="logo d-flex align-items-center">
               
                <img width="100px"  src="{% static 'logo.png' %}" alt="">
              
              </a>
        
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a href="{% url 'category' 'General' %}">General</a></li>
                  <li><a href="{% url 'category' 'Technology' %}">Technology</a></li>
                  <li><a href="{% url 'category' 'Education' %}">Education</a></li>
                  <li><a href="{% url 'category' 'Politics' %}">Politics</a></li>
                  <li><a href="{% url 'category' 'Fashion' %}">Fashion</a></li>
                  <li><a href="{% url 'category' 'Travel' %}">Travel</a></li>
                  <li><a href="{% url 'category' 'Gaming' %}">Gaming</a></li>
                  <li><a href="{% url 'category' 'Health' %}">Health</a></li>
                  <li><a href="{% url 'contact'  %}">Contact Us</a></li>
                </ul>
              </nav>
        
              <div class="position-relative">
                {% if user.is_authenticated %}
        
                    <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Welcome {{request.user.first_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/logout/">Logout</a></li>    
                    </ul>
       
        
                {% else %}
              
           
                    <a href="{% url 'login' %}" type="button" class="btn">Login</a>
                    <a href="{% url 'signup' %}"  type="button" class="btn">Sign-up</a>
             
                {% endif %}
                <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
                <i class="bi bi-list mobile-nav-toggle"></i>
        
               
                <div class="search-form-wrap js-search-form-wrap">
                  <form  class="search-form" action="{% url 'search' %}" method="GET">
                    {% csrf_token %}
                    <span class="icon bi-search"></span>
                    <input name="query" type="text" placeholder="Search" class="form-control">
                    <input type="submit" value="" style="display: none" />
                  </form>
                </div>
        
              </div>
        
            </div>
        
          </header>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>Message: </strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}


    
        {% block body %}{% endblock body %}

          <!-- ======= Footer ======= -->
        <footer id="footer" class="footer fixed-bottom">


    <div class="footer-legal" style="padding: 10px">
      <div class="container">
        <div class="row justify-content-between">

            <div class="col-md-4 text-center text-md-start  mb-md-0">
                <div id="google_translate_element"></div>
              </div>
          <div class="col-md-4 text-center text-md-start  mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Blog Pen</span></strong>. All Rights Reserved
            </div>
          </div>

         

          <div class="col-md-4">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>


        </div>

      </div>
    </div>

  </footer>

  
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    

        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
  AOS.init({
      offset: 300,
      duration: 1000,
  });
  </script>
    </body>
        {% block js %} {% endblock js %}
    

</html>
