<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
       .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
    </style>
  </head>
  <body>

    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form target="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="divider d-flex align-items-center my-4">
                  <h3 class="text-center fw-bold mx-3 mb-0" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Login</h3>
                </div>
      
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input required type="text" name="loginusername" id="username" class="form-control form-control-lg"
                    placeholder="Enter username" />
                
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input required type="password" name="loginpassword" id="pass" class="form-control form-control-lg"
                    placeholder="Enter password" />
                
                </div>
      
               
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <input type="submit" class="btn  btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;background-color: #C4D7E0; color: black;" value="Login"/>
                      <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                      class="link-danger">Register</a></p>
                      <p class="small fw-bold mt-2 pt-1 mb-0">Go Back to <a href="{% url 'home' %}"
                        class="link-danger">Home</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 link-danger"  style="background-color: lightblue">
          <!-- Copyright -->
          
          <!-- Copyright -->
      
          <!-- Right -->
          <div>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <!-- Right -->
        </div>
      </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>